.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.square{
  border: 1px solid #999;
  width: 120px;
  height: 120px;
  font-size: 60px;
  font-weight: bold;
  padding: 0px;
  text-align: center;
  margin-right: -1px;
  margin-top: -1px;
  float: left;
  outline: none;
}

.board-row{
  display: block;
  height: 120px;
}

.game-info{
  padding: 25px;
}
